/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

html {
  background-color: rgb(255, 255, 255);
}

body {
  font-family: "Poppins", sans-serif;
  height: 99vh;
  overflow-x: hidden;
  overflow-y: auto;

}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;

}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}
.btn{
  border-radius: 0;
}

.option{
  background-color:#cadaee;
  font-size:20px;
  padding:10px;
  margin:3px;
}
  #quiz .options input[type=checkbox] {
      height:22px;
      width:22px;
  }

.cursor-pointer{
  cursor: pointer;
}

.result-question{
  background-color:#eee;
  margin:4px;
  padding:6px;

}

@media only screen and (max-width: 480px) {
  h1,.h1{
      font-size:22px;
  }
  h2,.h2{
      font-size:20px;
  }
  h3,.h3{
      font-size:18px;
  }
  .option {
      font-size: 16px;
      padding: 6px;
  }
}
